name: build and deploy vue app

on:
  push:
    branches:
      - main

permissions:
  contents: write
  packages: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ntkfxy --password-stdin

      - name: Build Docker Image
        run: docker build -t ghcr.io/ntkfxy/vue-app1:latest .

      - name: Push Docker Image
        run: docker push ghcr.io/ntkfxy/vue-app1:latest

      - name: Extract Vue build from container
        run: |
          CONTAINER_ID=$(docker create ghcr.io/ntkfxy/vue-app1:latest)
          docker cp $CONTAINER_ID:/usr/share/nginx/html ./dist
          docker rm -v $CONTAINER_ID

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: dist
